<!DOCTYPE html>
        <html>
        <head>
            <meta charset="UTF-8">
            <title>My Place Watching Over Site</title>
            <meta name="viewport" content="width=device-width">
            <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
            <link rel="stylesheet" href="css/style.css">
        </head>

        <body>
            <div class="container">
                <header>
                    <h1>My Place Watching Over Site</h1>
                </header>

                <section class="information">
                    <h1>Event records from CatBedNo1 to CatBedNo4</h1>
                </section>
            </div>    <div class="box1">
                    <div class="section2">
            <h2>CatBedNo1</h2>
            <img src="img/place1.jpg" width="500">
            <ol>
                <li><a href="Place1/place1-1.html" target="_blank">latest</a></li>
                <li><a href="Place1/place1-2.html" target="_blank">1 time ago</a></li>
                <li><a href="Place1/place1-3.html" target="_blank">2 times ago</a></li>   
                <li><a href="Place1/place1-4.html" target="_blank">3 times ago</a></li>
                <li><a href="Place1/place1-5.html" target="_blank">4 times ago</a></li>
                <li><a href="Place1/place1-6.html" target="_blank">5 times ago</a></li> 
                <li><a href="Place1/place1-7.html" target="_blank">6 times ago</a></li>
                <li><a href="Place1/place1-8.html" target="_blank">7 times ago</a></li>
                <li><a href="Place1/place1-9.html" target="_blank">8 times ago</a></li>   
                <li><a href="Place1/place1-10.html" target="_blank">9 times ago</a></li>
                <li><a href="Place1/place1-11.html" target="_blank">10 times ago</a></li>
                <li><a href="Place1/place1-12.html" target="_blank">11 times ago</a></li>  
            </ol>
        </div>        <div class="section2">
            <h2>CatBedNo2</h2>
            <img src="img/place2.jpg" width="500">
            <ol>
                <li><a href="Place2/place2-1.html" target="_blank">latest</a></li>
                <li><a href="Place2/place2-2.html" target="_blank">1 time ago</a></li>
                <li><a href="Place2/place2-3.html" target="_blank">2 times ago</a></li>   
                <li><a href="Place2/place2-4.html" target="_blank">3 times ago</a></li>
                <li><a href="Place2/place2-5.html" target="_blank">4 times ago</a></li>
                <li><a href="Place2/place2-6.html" target="_blank">5 times ago</a></li> 
                <li><a href="Place2/place2-7.html" target="_blank">6 times ago</a></li>
                <li><a href="Place2/place2-8.html" target="_blank">7 times ago</a></li>
                <li><a href="Place2/place2-9.html" target="_blank">8 times ago</a></li>   
                <li><a href="Place2/place2-10.html" target="_blank">9 times ago</a></li>
                <li><a href="Place2/place2-11.html" target="_blank">10 times ago</a></li>
                <li><a href="Place2/place2-12.html" target="_blank">11 times ago</a></li>  
            </ol>
        </div>
        </div>
        <div class="box1">
                    <div class="section2">
            <h2>CatBedNo3</h2>
            <img src="img/place3.jpg" width="500">
            <ol>
                <li><a href="Place3/place3-1.html" target="_blank">latest</a></li>
                <li><a href="Place3/place3-2.html" target="_blank">1 time ago</a></li>
                <li><a href="Place3/place3-3.html" target="_blank">2 times ago</a></li>   
                <li><a href="Place3/place3-4.html" target="_blank">3 times ago</a></li>
                <li><a href="Place3/place3-5.html" target="_blank">4 times ago</a></li>
                <li><a href="Place3/place3-6.html" target="_blank">5 times ago</a></li> 
                <li><a href="Place3/place3-7.html" target="_blank">6 times ago</a></li>
                <li><a href="Place3/place3-8.html" target="_blank">7 times ago</a></li>
                <li><a href="Place3/place3-9.html" target="_blank">8 times ago</a></li>   
                <li><a href="Place3/place3-10.html" target="_blank">9 times ago</a></li>
                <li><a href="Place3/place3-11.html" target="_blank">10 times ago</a></li>
                <li><a href="Place3/place3-12.html" target="_blank">11 times ago</a></li>  
            </ol>
        </div>        <div class="section2">
            <h2>CatBedNo4</h2>
            <img src="img/place4.jpg" width="500">
            <ol>
                <li><a href="Place4/place4-1.html" target="_blank">latest</a></li>
                <li><a href="Place4/place4-2.html" target="_blank">1 time ago</a></li>
                <li><a href="Place4/place4-3.html" target="_blank">2 times ago</a></li>   
                <li><a href="Place4/place4-4.html" target="_blank">3 times ago</a></li>
                <li><a href="Place4/place4-5.html" target="_blank">4 times ago</a></li>
                <li><a href="Place4/place4-6.html" target="_blank">5 times ago</a></li> 
                <li><a href="Place4/place4-7.html" target="_blank">6 times ago</a></li>
                <li><a href="Place4/place4-8.html" target="_blank">7 times ago</a></li>
                <li><a href="Place4/place4-9.html" target="_blank">8 times ago</a></li>   
                <li><a href="Place4/place4-10.html" target="_blank">9 times ago</a></li>
                <li><a href="Place4/place4-11.html" target="_blank">10 times ago</a></li>
                <li><a href="Place4/place4-12.html" target="_blank">11 times ago</a></li>  
            </ol>
        </div>
        </div>